{% extends 'base.html' %}

{% block content %}

<h1 class="mb-4">
    Available Jobs
</h1>

<form method="get" class="mb-4">

    <input
        type="text"
        name="q"
        class="form-control"
        placeholder="Search jobs">

</form>

{% for job in jobs %}

<div class="card mb-3">

    <div class="card-body">

        <h3>

            <a
                href="/job/{{ job.id }}/"
                class="text-decoration-none">

                {{ job.title }}

            </a>

        </h3>

        <p>
            <strong>Company:</strong>
            {{ job.company_name }}
        </p>

        <p>
            <strong>Location:</strong>
            {{ job.location }}
        </p>

        <p>
            <strong>Experience:</strong>
            {{ job.experience }}
        </p>

        <p>
            <strong>Salary:</strong>
            ₹{{ job.salary }}
        </p>

    </div>

</div>

{% empty %}

<p>No jobs found.</p>

{% endfor %}

{% endblock %}